.dashboard{
  display: grid;
  grid-template-areas: 
  "search"
  "main";
  margin-top: 5em;
}

.search{
  grid-area: "search";
  box-shadow: 2px 2px darkgrey;
  font-family: 'Heebo', sans-serif;
  width: 50%;
  height: 2em;
  margin: auto
}

.main{
  grid-area: 'main';
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Heebo', sans-serif;
}