.dashboard{
  display: grid;
  grid-template-areas: 
  "search"
  "main";
  margin-top: 5em;
  text-align: center;
}

.search{
  grid-area: "search";
  box-shadow: 2px 2px whitesmoke;
  border: solid 2px lightgrey;
  font-family: 'Heebo', sans-serif;
  width: 40%;
  height: 2em;
  margin: auto;
}

.main{
  grid-area: 'main';
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  justify-content: center;
  align-items: center;
  font-family: 'Heebo', sans-serif;
  margin: auto;
}