.home{
  background-image: url("https://images.pexels.com/photos/210764/pexels-photo-210764.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  height: 1000px;
}

.home main{ 
  display: flex;
  width: 60%;
  height: 60%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
}

.home h1{
  font-size: 5em;
}

.home h4{
  font-size: 2em;
}

.home h5{
  font-size: 1.5em;
}

